{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bienvenue Au Forum</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet"/.container>
  </head>

  <body>

	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
		  <div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			  <span class="sr-only">Toggle navigation</span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% url 'accueil'  %}">Bienvenue  {{id.pseudo}}</a>
		  </div>
		  <div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right ">
			  {% if auth %}
				<li class="active nav-item"><a href="{% url 'accueil'  %}">Accueil</a></li>
				<li><a href="{% url 'addtopic' %}">Poser une Question</a></li>
				<li><a href="{% url 'profile' id.pk %}">Mon Profil</a></li> 
				<li><a href="{% url 'logoutUser'  %}">Deconnexion</a></li> 
				<li><a href="{% url 'loginAdmin'  %}">Admin</a></li> 

			  {% else %}
				<li><a href="{% url 'login'  %}">Se Connecter</a></li>
				<li><a href="{% url 'create'  %}">Créer un compte</a></li>
				<li class="active nav-item"><a href="{% url 'accueil'  %}">Accueil</a></li>
				<li><a href="{% url 'loginAdmin'  %}">Admin</a></li> 

			  {% endif %}
			</ul>
		  </div><!--/.nav-collapse -->
		</div>
	  </div>
	  
	  

    <div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="main-col">
					<div class="block">
						<h1 class="pull-left">bienvenue au forum </h1>
						<h4 class="pull-right">Ecole It </h4>
						<div class="clearfix"></div>
						<hr>
				

						<ul id="topics">
							{% if postmessage %}
							{% for post in postmessage %}
							<li class="topic">
							<div class="row">
							<div class="col-md-2">
								<img class="avatar pull-left img-fluid" src="{{ post.user.avatar.url }}" />
							</div>
							<div class="col-md-10">
								<div class="topic-content pull-right">
									<h3><a href="{%url 'topic' id=post.pk %}"> {{post.title}}</a></h3>
									<div class="topic-info">
										<a href="{% url 'categorie' id=post.category.pk %}"> {{post.category.title}}</a>>> <a href="{% url 'profile' id=post.user.pk %}"> {{post.user.pseudo}}</a> >> Posté le: {{post.posted_date}}
										<span class="color badge pull-right"></span>
									</div>
								</div>
							</div>
						</div>
					</li>
					{% endfor %}
					{% else %}
					
					<li class="topic">
						<div class="row">
						<div class="col-md-2">
							<img class="avatar pull-left img-fluid" src="{% static 'img/gravatar.png'%}" />
						</div>
						<div class="col-md-10">
							<div class="topic-content pull-right">
								<h3><a href=""> Bienvenue sur notre forum  Ecole-It</a></h3>
								<div class="topic-info">
									<a href=""> Message de Bienvenue </a>>> welcome <a href=""> {{post.user.pseudo}}</a> >> Posté le: 17 Jan 2024
									<span class="color badge pull-right">3</span>
								</div>
							</div>
						</div>
					</div>
				</li>
				{% endif %}
					
						</ul>
						
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="sidebar">
					
					
					<div class="block">
					<h3>Categories 
					</h3>
					<div class="list-group block ">
						<a href="#" class="list-group-item active">Tous les Sujets  <span class="badge pull-right">{{totpos}}</span></a> 
						{% if categories %}
						{% for cat in categories %}	
						{% comment %} suppression de {{cat.nombre_occurences}} dans le span {% endcomment %}
						<a href="{% url 'categorie' id=cat.pk %}" class="list-group-item">{{ cat.title }}<span class="color badge pull-right"></span></a>
						{% endfor %}
						{% endif %}
					</div>
					</div>

					<div class="block" style="margin-top: 20px;">
						<h3 class="margin-top: 40px">Statistique du Forum </h3>
						<div class="list-group">
							<a href="" class="list-group-item">Total des utilisateurs: :<span class="color badge pull-right">{{totuser}}</span></a>
							<a href="" class="list-group-item">Total des Sujets du forum: :<span class="color badge pull-right">{{totpos}}</span></a>
							<a href="" class="list-group-item">Total des categories du forum: <span class="color badge pull-right">{{totcat}}</span></a>
							
						</div>
				    </div>
			    </div>	
				</div>
			</div>
		</div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"  ''></script>
  </body>
</html>
